body{
    background-image:url('Panda.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70% 80%;
    background-attachment: fixed;
    
}
h1{
    color: bisque;
    text-align: center ;
    vertical-align: text-bottom;
    
}
div {
    text-align: center;
  }
img{
    opacity: .4;
    
  width: 30%;
}
div{
    text-align: center;
    position: relative;
}
text{
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}